html {
  background-color: black;
}

.App {
  text-align: center;
}

.NCF {
  margin: 50px auto;
  padding: 1%;
  color: #d0e17b;
  background-color: #223843;
  width: 40%;
  font-size: 1.4rem;
}

.NCh1 {
  margin-top: 1%;
  margin-bottom: 1%;
}
.NCh3 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  margin-top: 1%;
}

.input {
  width: 70%;
  text-align: center;
}
.description {
  font-size: .9rem;
  margin-bottom: 0;
  margin-top: 1%;
}

button:hover {
  font-size: 1rem;
  cursor: pointer;
}

.signup-container {
  width: 40%;
  background-color: #223843;
  color: #d0e17b;
  font-size: 1.4rem;
  margin: 50px auto;
  padding: 1%;
}

.s-box {
  margin: 1%;
}

.s-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.span {
  padding: 1.5%;
}

.u-h3 {
  padding: 0;
  margin: 3px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  padding: 2%;
}

.atags {
  color: #f26f39;
  opacity: .9;
  text-decoration: none;
}

.atags:hover {
  color: orange;
  opacity: .5;
}

.userorg-container {
  margin-top: 5%;
  color: #d0e17b;
}

.campaignlist-container {
  width: 50%;
  margin: 1% auto;
  background-color: #223843;
  color: #d0e17b;
  padding: 1%;
}

.updating-div {
  width: 50%;
  margin: 1% auto 5% ;
  color: #d0e17b;
  background-color: #223843;
  padding: 1%;
}
.annoyingLink{
  text-decoration: none;
}

.loading {
  color: white;
}

.login-container {
  color: #d0e17b;
  width: 50%;
  margin: 5% auto;
}

.login-button {
  margin-top: 1%;
}
